# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/
.idea/

# Logs
*.log

# Secrets
api_key.enc
*.key
*.pem
*.crt

# Environment
.env
*.env
